<div class="footer">
    <div class="pull-right">
        (NYI) Loading time  
        <strong>???s</strong>
    </div>
    <div>
        <strong class="hidden">Copyright</strong>
        Sylkk &copy; 2016 - v.1.7.3
    </div>
</div>