<section id="progression">

    <!-- Raids Legion -->
    <div class="container content-lg">
        <div class="title-v1">
            <h2>Notre Progression</h2>
            <p>Vous pouvez avoir plus de details sur <a href="http://www.wowprogress.com/guild/eu/ysondre/Danse+Avec+Les+L%C3%B8%C3%B8ts" target="_blank">WoWprogress</a></p>
        </div>

        <!-- Tiers -->
        <div class="row service-box-v1">
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <h2 class="heading-sm">The Nighthold</h2>
                    <p>10/10 Mythic</p>
                    <ul class="list-unstyled">
                        <li class="text-left color-green">&nbspSkorpyron
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspChonomatic Anomaly
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspTrilliax
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspSpellblade Aluriel
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspTichondrius
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspKrosus
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspHigh Botanist Tel'arn
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspStar Augur Etraeus
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspGrand Magistrix Elisande
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbspGul'dan
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <h2 class="heading-md">Tomb of Sargeras</h2>
                    <p>9/9 Mythic</p>
                    <ul class="list-unstyled">
                        <!--
                        <li class="text-left">&nbsp Nythendra
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        -->
                        <!--
                        <li class="text-left color-green">&nbsp Nythendra
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        -->
                        <li class="text-left color-green">&nbsp Goroth
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Demonic Inquisition
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Harjatan
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Sisters of the Moon
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Mistress Sassz'ine
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp The Desolate host
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Maiden of Vigilance
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Fallen Avatar
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Kil'jaeden
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-block service-block-default">
                    <h2 class="heading-sm">Antorus</h2>
                    <p>4/11 Mythic</p>
                    <ul class="list-unstyled">
                        <li class="text-left color-green">&nbsp Garothi Worldbreaker
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Felhounds of Sargeras
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Antoran High Command
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left color-green">&nbsp Portal Keeper Hasabel
                            <i class="fa fa-check fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left">&nbsp Essence of Eonar
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left">&nbsp Imonar the Soulhunter
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left">&nbsp Kin'garoth
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left">&nbsp Varimathras
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left">&nbsp The Coven of Shivarra
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left">&nbsp Aggramar
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                        <li class="text-left">&nbsp Argus the Unmaker
                            <i class="fa fa-times fa-pull-right fa-fw" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>    
            </div>
        </div>
    </div>

    <!-- Last videos Kills -->
    <ul class="list-unstyled row portfolio-box-v1" id="videos">
        <li class="col-sm-3">
            <img class="img-responsive" src="/onePage/assets/img/videos/archimonde.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>DALL vs Archimonde</h3>
                <p>Mythic mode</p>
                <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="https://www.youtube.com/watch?v=oFDCEEE_NYA">Voir la vidéo</a>
            </div>
        </li>
        <li class="col-sm-3">
            <img class="img-responsive" src="/onePage/assets/img/videos/mannoroth.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>DALL vs Mannoroth</h3>
                <p>Mythic mode</p>
                <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="https://www.youtube.com/watch?v=7F0AyUK6mGc">Voir la vidéo</a>
            </div>
        </li>
        <li class="col-sm-3">
            <img class="img-responsive" src="/onePage/assets/img/videos/velhari.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>DALL vs Velhari</h3>
                <p>Mythic mode</p>
                <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="https://www.youtube.com/watch?v=tyyCjVxId54">Voir la vidéo</a>
            </div>
        </li>
        <li class="col-sm-3">
            <img class="img-responsive" src="/onePage/assets/img/videos/xhul.jpg" alt="">
            <div class="portfolio-box-v1-in">
                <h3>DALL vs Xhul'horac</h3>
                <p>Mythic mode</p>
                <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="https://www.youtube.com/watch?v=gI0Fdao6nD8">Voir la vidéo</a>
            </div>
        </li>
    </ul>

    <!-- Link all Videos-->
    <div class="call-action-v1">
        <div class="container">
            <div class="call-action-v1-box">
                <div class="call-action-v1-in">
                    <p>Vous pourrez bientôt retrouver toutes nos vidéos de kill</p>
                </div>
                <div class="call-action-v1-in inner-btn page-scroll">
                    <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">Voir toutes nos vidéos</a>
                </div>
            </div>
        </div>
    </div>
</section>